table {
  margin: 20px auto;
  max-width: 800px;
}

input {
  width: 100%;
  font-size: inherit;
  padding: 4px;
  box-sizing: border-box;
}
task-container {
  width: 100%;
  font-size: inherit;
  padding: 4px;
  box-sizing: border-box;
}

task-column {
  width: 100%;
  font-size: inherit;
  padding: 4px;
  box-sizing: border-box;
  direction: rtl;
}
